@page
@model testsqlite.Pages.LoginModel
@{
}
<h1>登录页</h1>
<script type="text/javascript">
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;

        layer.msg('Hello World');
    });

</script>